html, body {
  min-height: 100vh;
  width: 100%;
}

a{
    color: #66D9EF;
    text-decoration: none;
}

body {
  background-color:#000000;
  font-family: source-code-pro, monospace;
  font-style: normal;
  font-weight: 200;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
